
version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ~/.config/gcloud:/root/.config/gcloud:ro
    env_file:
      - ./backend/.env.local
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/root/.config/gcloud/application_default_credentials.json
      - GOOGLE_CLOUD_PROJECT=taskmanagerpro-8540b
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
